*{margin: 0; padding: 0; box-sizing: border-box; transition: .7s;}

.slideContainer {
  position: absolute;
  display: flex;
  color: white;
  font-family: Pretendard;
  top: 100px;
  right: 140px;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 700;
}

.contact {
  margin-right: 32px;
  margin-left: 32px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

